::selection{
    color: #ffffff;
    background: #333;
}

body{
    -webkit-transition: background 2s ease;
    transition: background 2s ease;
}

body{
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.8;
    color: #333;
}



a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}


*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover, nav.stickey-header-nav .stickey-header-nav-close{
    cursor: pointer;
}


a, a *, a :after, a :before{
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
}


a {
    text-decoration: none;
    color: #333333;
}


html{
    overflow-y: scroll;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering:optimizeLegibility;
}
html, pre{
    word-wrap: break-word;
}




header.stickey-header{
    position: fixed;
    z-index: 100;
    top: 60px;
    left: 0;
    width: 100%;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    letter-spacing: 2px;
}

@media (min-width: 769px){
    header.stickey-header{
        overflow: hidden;
        height: 100px;
    }
}

@media (min-width: 769px){
    header.stickey-header:hover {
        overflow: visible;
        height: auto;
    }
}

@media (max-width: 767px){
    header.stickey-header{
        top: 50px;
    }
}


article, aside, details, figcaption, figure, footer, header, heading, hgroup, menu, nav, p, section{
    display: block;
}

.container, .narrow-container, .wide-container{
    width: 100%;
    padding: 20px;
    position: relative;
    margin: 0 auto;
}

@media (max-width: 769px){
    .container, .narrow-container {
        width: 100%;
        padding: 0 2%;
    }
}

@media (min-width: 1201px) {
    .container{
        width: 1180px;
        padding: 0 20px;
    }
}

@media (min-width: 1400px) {
    .container{
        width: 1180px;
        padding: 0 20px;
    }
}


header.stickey-header .stickey-header-inner{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-row, [class*=flex-row]{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


header.stickey-header a, header.stickey-header p.category-name{
    font-size: 18px;
    letter-spacing: 4px;

}
header.stickey-header p.category-name{
    position: relative;
    padding-top: 20px;
}


header.stickey-header p.category-name:before{
    position: absolute;
    top: 0;
    display: block;
    width: 40px;
    height: 2px;
    content: "";
    background: #333;
}


nav.stickey-header-nav{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


ol, ul{
    list-style: none;
}


nav.stickey-header-nav li{
    position: relative;
    margin-top: 10px;
}


@media (min-width: 769px) {
    nav.stickey-header-nav li{
        margin-left: -26px;
    }
}

@media (max-width: 767px){
    nav.stickey-header-nav li {
        position: absolute;
        top: 0;
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    nav.stickey-header-nav li:nth-child(1){
        margin-left: 0;
    }
}

@media (max-width: 767px){
    nav.stickey-header-nav ul {
        position: relative;
    }
}
@media (max-width: 767px){
    nav.stickey-header-nav * {
        -webkit-transition: all ease .5s;
        transition: all ease .5s;
    }
}


nav.stickey-header-nav .nav-link-border{
    position: absolute;
    top: 45%;
    left: 0;
    display: block;
    width: 2px;
    height: 28px;
    margin-top: -12px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    background: #333
}
@media (max-width: 767px){
    nav.stickey-header-nav .nav-link-border {
        margin-top: 0;
    }
}


nav.stickey-header-nav a{
    line-height: 2.65;
    position: relative;
    padding: 20px 0 20px 15px;
    -webkit-transition: none !important;
    transition: none !important;
}

nav.stickey-header-nav .nav-link-no-first-letter{
    width: 0;
    height: 0;
    color: transparent;
}

a:hover{
    color: tint(#333,20%);
}

nav.stickey-header-nav a:hover .nav-link-no-first-letter{
    width: auto;
    height: auto;
    color: #333;
}

@media (min-width: 769px){
    nav.stickey-header-nav .stickey-header-nav-close{
        display: none;
    }
}
@media (max-width: 767px){
    nav.stickey-header-nav.opened ul {
        position: relative;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}


@media (max-width: 767px) {
    nav.stickey-header-nav .stickey-header-nav-close{
        position: absolute;
        top: 24px;
        left:-75%;
        display: none;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        text-align: right;
    }
}

@media (max-width: 767px){
    header.stickey-header a, header.stickey-header p.category-name {
        font-size: 14px;
        letter-spacing: 3px;
    }
}

@media (max-width: 767px){
    nav.stickey-header-nav a {
        display: none;
    }
}

@media (max-width: 767px){
    nav.stickey-header-nav {
        position: absolute;
        right: 20px;
        display: block;
        width: 28px;
        height: 26px;
        cursor: pointer;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }
}


.container:after, .narrow-container:after, .row:after, .wide-container:after{
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
}
.container:after, .narrow-container:after, .wide-container:after{
    display: block;
}




body .main, body .main-content {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.main-content {
    opacity: 0;
}








body {
    -webkit-transition: background 2s ease;
    transition: background 2s ease;
}

body {
    font-family: Arial;
    font-size: 12px;
    line-height: 1.8;
    color: #333;
}

.works-archive {
    padding: 200px 0 0;
}
.works-archive-design {
    background: #e2ebed;
}


.flex-row-g4 .item, .flex-row-g4 [class*=col-] {
    width: 32%;
}

@media (max-width: 767px){
    .flex-row-mg12 .item, .flex-row-mg12 [class*=col-] {
        width: 100%;
    }
}

article.works-item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 120px;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

@media (max-width: 767px){
    article.works-item a {
        margin-bottom: 40px;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
}


article.works-item figcaption, article.works-item figure {
    width: 48%;
}

@media (max-width: 767px){
    article.works-item figcaption, article.works-item figure {
        width: 100%;
    }
}

article.works-item figure {
    line-height: 0;
}





article.works-item figcaption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}



article.works-item figcaption h3 {
    letter-spacing: 1px;
    font-weight: 100;
}

article.works-item figcaption h3, article.works-item figcaption span {
    font-size: 12px;
    display: block;
    width: 100%;
}

article.works-item figcaption span {
    letter-spacing: 1px;
    color: #969696;
    font-weight: 100;
}


article.works-item figure img {
    width: 100%;
    height: auto;
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
    opacity: 0;
}



a img {
    border: none;
}

img {
    ms-interpolation-mode: bicubic;
    max-width: 100%;
    height: auto;
}
article.works-item figure img.in-viewport {
    opacity: 1;
}

@media (max-width: 769px){
    .wide-container {
        padding: 0 2%;
    }
}

@media (min-width: 1201px){
    .wide-container {
        width: 90%;
        padding: 0 40px;
    }
}

@media (min-width: 1400px){
    .wide-container {
        width: 80%;
        padding: 0 40px;
    }

}









footer.global-footer .footer-columns{
    height: 240px;
    font-family: Arial;
    font-size: 12px;
    padding: 70px 0;
    letter-spacing: 2px;
    margin: 0 10% 0 20%;
    line-height: 2;
    color: #999;
}


footer .global-footer .footer-icons{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

footer.global-footer .footer-icons ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 88px;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content:space-between;

}

footer.global-footer .footer-icons{
    text-align: center;
}

.flex-row .col-g4{
    width: 50%;
    font-weight: 100;
    letter-spacing: 1px;
}


.mobile-only{
    display: none!important;
}

ol, ul{
    list-style: none;
}
footer.global-footer .footer-icons img {
    width: 30px;
    height: 30px;
    opacity: .5;
}
footer.global-footer .footer-icons img:hover{
    opacity: 1;
}


footer.global-footer .footer-icons ul{
    margin: 0 auto 30px auto;
}
.shein{
    color: #999;
}
.shein:hover{
    color: #333;
}
